<div class="main">
    <div class="box">
        <div class="hybrid"></div>
        <h2 class="title">Hybrid Storage</h2>
        <div class="subtitle">Uploads of up to 50MB are allowed</div>
        <div class="upload encrypt" >Uploads of up to 50MB are allowed</div>
        <input id="encrypt_upload" type="file" style="display:none;" name="files[]" data-url="/upload" multiple>
        <div class="upload decrypt" >Or, recover an encrypted file</div>
        <input id="decrypt_upload" type="file" style="display:none;" name="files[]" data-url="/upload" multiple>
        <script src="/javascripts/main.js"></script>
    </div>
</div>

